/* This allows us to have consistent font (size, family, weight), line height with a consistent background image. */

/* scroll allows end user to scroll through our website */
html,
body {
  height: 100%;
  font-size: 18px;
  line-height: 1.6;
  font-family: "brandon_grotesque_regularRg";
  font-weight: normal;
  /* background-image: url("https://images.unsplash.com/photo-1599551528722-6b6d968512a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); */
  background: url("https://images.unsplash.com/photo-1599551528722-6b6d968512a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    no-repeat center fixed;
  background-size: cover;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

/* Title information and first container */
#title {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.display_createCards_list {
  flex-direction: row;
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
  line-height: 1 !important;
  font-weight: bold !important;
  align-items: center !important;
  height: 15rem;
  width: auto;
  font-size: 20px;
  color: rgb(233, 139, 16);
  background-color: rgb(97, 109, 46);
  border-color: #ffffff;
  list-style-type: none;
  border-radius: 5px;
}

.display-flex-row {
  flex-direction: row;
  margin-top: 3rem !important;
  padding-top: 3rem !important;
  margin-bottom: 1.5rem !important;
  line-height: 1 !important;
  font-weight: bold !important;
  align-items: center !important;
  width: 100%;
  list-style-type: none;
  font-size: 20px;
}

.padding_margin {
  margin-bottom: 1.24rem;
  margin-top: 0.25;
  padding-top: 1rem;
}

/* @media (max-width: 800px) {
  .display-flex-row {
    flex-direction: column;
  }
} */

.fluid_container {
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.d_grid {
  display: grid !important;
}

.gap_3 {
  gap: 1rem !important;
}

.align_items_center {
  align-items: center !important;
}

.totop_wrapper {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
}
.animated {
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.fadeInUp {
  animation-name: fadeInUp;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* End of title paragraphs */

/* first_container */
.half_block {
  margin: 0 -15px;
  background-position: center center;
  background-size: cover;
}

.fixed_height {
  height: 25rem;
  width: auto;
}

.half_block_2 {
  margin: 1rem;
  background-position: center center;
  background-size: cover;
  left: 0;
  position: absolute;
}

.top_card {
  z-index: 100;
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

#outter_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-image: url("https://images.unsplash.com/photo-1533422902779-aff35862e462?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); */
  background: url("https://images.unsplash.com/photo-1533422902779-aff35862e462?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    no-repeat center fixed;
  background-size: cover;
}

img.animated_gif {
  width: 120px;
  height: auto;
  position: absolute;
  top: 0px;
  right: 0px;
}

.flex_shrink_0 {
  flex-shrink: 0 !important;
}

.pt_5 {
  padding-top: 3rem !important;
}
.mt_5 {
  margin-top: 3rem !important;
}
.mb_4 {
  margin-bottom: 1.5rem !important;
}

.lh_1 {
  line-height: 1 !important;
}

.fw_bold {
  font-weight: 700 !important;
}

.line_size {
  font-size: 25px;
}

.margin {
  padding-top: 1rem;
  margin: 1rem;
}

.panel {
  margin: 20px;
  width: 100%;
  height: 100%;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 2px;
  border: 2px solid #666;
  font-family: "brandon_grotesqueblack";
  font-weight: normal;
}

.btn_light {
  color: rgb(233, 139, 16);
  background-color: rgb(97, 109, 46);
  border-color: #ffffff;
  /* background: #666; */
}

.btn_bright {
  color: rgb(17, 11, 2);
  background-color: rgb(233, 139, 16);
  border-color: rgb(233, 139, 16);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#form_container {
  position: sticky;
  top: 0%;
}
#second_container {
  width: 100vw;
}

.relative_position {
  position: relative;
}

#cards_container {
  color: rgb(233, 139, 16);
  display: flex;
  width: fit-content;
  height: 100vh;
}
.second_card_container {
  -moz-column-width: 23rem;
  -webkit-column-width: 23rem;
  -moz-column-gap: 1rem;
  -webkit-column-gap: 1rem;
  display: inline-block;
  width: 100%;
}
.card_size {
  display: inline-block;
  width: 100%;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}
#third_container {
  color: rgb(233, 139, 16);
  display: flex;
  width: 100vw;
  height: 100vh;
}

#final_container {
  color: rgb(233, 139, 16);
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-image: url("https://images.unsplash.com/photo-1555124799-34f2f77a761b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1614&q=80" */
  /* ); */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: rgb(51, 5, 126);
  background-color: goldenrod;
  text-align: center;
}

#list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer {
  color: #fff;
  text-align: center;
  font-size: 10px;
  letter-spacing: 3px;
  font-family: "brandon_grotesquebold";
  font-weight: normal;
  display: block;
}

.footbackground {
  background-color: teal;
}

.column {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}

.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}

/* Card requires some animations f
.card {
  width: 150px;
  height: 200px;
  display: block;
  background: #666;
  transform-origin: 50% 99%;
}
@keyframes like {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}
@keyframes dislike {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-40deg) translateY(-80px);
    opacity: 0;
  }
}
.secondContainer.like .cardSelection {
  animation: like 0.8s ease-out;
}
.secondContainer.dislike .cardSelection {
  animation: dislike 0.8s ease-out;
}
.list .card {
  display: none;
}
.list .current {
  display: block;
} */
/* video #waVid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("https://www.youtube.com/watch?v=kCyJtitQi_k");
  background-size: cover;
  transition: 1s opacity;
} */
/* @media screen and (max-width: 500px) {
  div {
    width: 70%;
  }
}
@media screen and (max-device-width: 800px) {
  html {
    background: url("https://www.youtube.com/watch?v=kCyJtitQi_k") #000
      no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
} */
